<h1>Listing maps</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Name</th>
    <th>Description</th>
    <th>Height</th>
    <th>Width</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maps.each do |map| %>
  <tr>
    <td><%= map.user.nickname %></td>
    <td><%= map.name %></td>
    <td><%= map.description %></td>
    <td><%= map.height %></td>
    <td><%= map.width %></td>
    <td><%= link_to 'View', map %></td>
    <td><%= link_to 'Play a Game!', new_game_path(:map_id => map.id) %></td>
    <% if map.user == current_user %>
    <td><%= link_to 'Edit', edit_map_path(map) %></td>
    <td><%= link_to 'Destroy', map, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Map', new_map_path %>
