	<% for team_id in 0..1 %>
<table class="scoreboard">
		<% player = @game.players.where(:team_id => team_id).first %>
	<tr>
		<th colspan="2">
			Team <%= team_id == 0 ? "Red" : "Blue" %>
			<% if @game.winning_player_id == player.id %>
				- <b>WINNER!</b>
			<% end %>
		</th>
	</tr>
	<tr>
		<td colspan="2">
			<%= player.user.nickname %>
		</td>
	</tr>
	<tr>
		<td>
			Fish Food
		</td>
		<td id="team<%=team_id%>_money">
			<%= player.money %>
		</td>
	</tr>
	<tr>
		<td>
			Castles
		</td>
		<td id="team<%=team_id%>_castles">
			<%= @game.castles_for_player(player).length %>
		</td>
	</tr>
	<tr>
		<td>
			Units
		</td>
		<td id="team<%=team_id%>_units">
			<%= @game.game_units_for_player(player).length %>
		</td>
	</tr>
	<tr>
		<td>
			Kills
		</td>
		<td id="team<%=team_id%>_kills">
			<%= player.kills %>
		</td>
	</tr>
</table>
	<% end %>



<input type="hidden" id="player_id" value="<%= @player.id %>">
<input type="hidden" id="current_team_id" value="<%= @game.current_team_id %>">
<input type="hidden" id="current_player_id" value="<%= @game.current_player.nil? ? "" : @game.current_player.id %>">

	<br class="clear">
