<h1>Listing games</h1>

<div class="actions">
<% unless params[:id].blank? %>
  <%= link_to "Show Everyone's Games!", games_path, :class => "btn" %>
<% end %>
  <%= link_to 'Start a New Game', new_game_path, :class => "btn btn-success" %>
</div>

<table class="game-list table table-striped">
  <tr>
    <th>Players</th>
    <th>Map</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
<% begin %>
  <tr>
    <td><%= game.players.map {|p| n(p.user)}.join(", ") %></td>
    <td><%= game.map.name %></td>
    <td class="<%= !game.current_player.nil? and game.current_player.user==current_user ? "your-turn" : ""%>">
      <%= game.winning_player_id.nil? ? "#{n(game.current_player.user)}'s Turn" : "Winner: #{n(game.winning_player.user)}" %>
    </td>
    <td><%= link_to 'Play!', game, :class => "btn" %></td>
  </tr>
<% rescue %>
    <% raise game.inspect %>
<%end %>
<% end %>
</table>

<br />

