<h1>Listing games</h1>

<div class="actions">
  <%= link_to 'Start a New Game', new_game_path, :class => "btn btn-success" %>
</div>

<table class="game-list table table-striped">
  <tr>
    <th>Players</th>
    <th>Map</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.players.map {|p| n(p.user)}.join(", ") %></td>
    <td><%= game.map.name %></td>
    <% if game.is_active? %>
          <td class="<%= !game.current_player.nil? and game.current_player.user==current_user ? "your-turn" : ""%>">
            <%= n(game.current_player.user) %>'s Turn
          </td>
    <% else %>
      <td>
        <%= game.is_draw? ? "Cancelled" : "Winner: #{n(game.winning_player.user)}" %>
      </td>
    <% end %>
    <td>
        <% if game.is_active? and !current_user.nil? and !current_user.games.index(game).nil? %>
          <%= link_to 'Play!', game, :class => "btn #{game.current_player.user == current_user ? "btn-success" : ""}" %>
        <% else %>
          <%= link_to 'View', game, :class => "btn" %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

