<h1>New game</h1>

<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Dummy placeholder for matchmaking.</p>

  <div class="field">
    <label>Map</label>
    <%= f.select :map_id, Map.where(:real_map_id => nil, :published => true).map {|m| [m.name, m.id]} %>
  </div>

  <div class="field">
  	<label>Who to challenge?</label>
  	<%= select_tag "user_ids[]", options_from_collection_for_select(
            User.where(['id <> ?', current_user.id]).order("nickname"),
            :id, :nickname) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', games_path %>
