<%
	real_map = Map.find_by_id(@game.map.real_map_id)
	if real_map.nil?
		real_map = @game.map
	end
%>
<%= render :partial => "maps/map_info", :locals => { :map => real_map } %>
	
<div class="game-container">
	<%= render :partial => "game_sidepanel" %>
	<%= render :partial => "game_map" %>
	<% if !@player.nil? and @game.winning_player_id.nil? %>
		<%= render :partial => "game_tools" %>
	<% end %>
</div>

<br class="clear">

<%= link_to 'Back to Game List', games_path %>
