<!DOCTYPE html>
<html>
<head>
  <title>Fish Tank Commander</title>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%=controller_name%> <%=action_name%>">

<header>
	<h1><%= link_to "FISH TANK COMMANDER", root_path %></h1>
	<h2><%= link_to "Big Combat in a Tiny Aquarium."%></h2>


	<nav>
		<% if user_signed_in? %>
			<h3>Hi <%=current_user.nickname%>, you're my favorite <%= render :partial => "layouts/fish_name" %>!</h3>
		<% else %>
			<h3>Sign up for hours and hours of recognition in this spot!</h3>
		<% end %>
		<ul>
			<% if user_signed_in? %>
			<li><%= link_to "Logout", destroy_user_session_path(current_user), :method => :delete %></li>
			<li><%= link_to "Account Settings", edit_user_registration_path(current_user) %></li>
			<li><%= link_to "View/Create Maps", maps_path %>
			<li><%= link_to "Play a Game!", user_game_path(current_user.id) %>
			<% else %>
			<li><%= link_to "Log in!", new_user_session_path %></li>
			<li><%= link_to "View/Create Maps", maps_path %>
			<li><%= link_to "Play a Game!", games_path %>
			<% end %>
		</ul>
	</nav>
</header>

<section id="alerts">
	<% unless flash[:notice].blank? %>
		<div class="alert alert-success"><%= flash[:notice] %></div>
	<% end %>
	<% unless flash[:alert].blank? %>
		<div class="alert alert-error"><%= flash[:alert] %></div>
	<% end %>
</section>

<div class="content">
	<%= yield %>
</div>

<div id="ajax_waiting">
	Waiting on server...
</div>

<footer>
	Fish Tank Commander is &copy; 2012 <a href="mailto:quill18@towerdive.com">Martin "quill18" Glaude</a> - Made alone in 48 hours...but with lots of suggestions and testing from my super-duper-awesome <a href="http://youtube.com/quill18">viewers</a>!
</footer>

</body>
</html>
